<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">CarRental</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cars">Arabalar</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Hizmetler
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Araç Kiralama</a></li>
            <li><a class="dropdown-item" href="#">VIP Hizmetler</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Diğer Hizmetler</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Yardım</a>
        </li>
      </ul>
      <button
        class="btn btn-light"
        routerLink="/login"
        *ngIf="!isAuthenticated()"
      >
        Giriş Yap
      </button>
      <button
        class="btn btn-success ms-2"
        routerLink="/register"
        *ngIf="!isAuthenticated()"
      >
        Kayıt Ol
      </button>
      <ul class="navbar-nav" *ngIf="isAuthenticated()">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="" class="rounded-circle" height="22" loading="lazy" />
            {{ userInfo?.firstName }} {{ userInfo?.lastName }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item">Profilim</a>
            </li>
            <li>
              <a class="dropdown-item">Ayarlar</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="logout()">Çıkış Yap</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
