<!-- Modal -->
<div
  class="modal fade"
  id="rentModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          {{ step === 1 ? "Kiralama Tarihi Seç" : "Ödeme Ekranı" }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Step 1: Tarih Seçimi -->
        <div *ngIf="step === 1">
          <form [formGroup]="rentalAddForm">
            <div class="mb-3">
              <label for="rentDate" class="form-label">Kiralama Tarihi</label>
              <input
                type="date"
                class="form-control"
                id="rentDate"
                formControlName="rentDate"
              />
            </div>
            <div class="mb-3">
              <label for="returnDate" class="form-label">Teslim Tarihi</label>
              <input
                type="date"
                class="form-control"
                id="returnDate"
                formControlName="returnDate"
              />
            </div>
          </form>
        </div>

        <!-- Step 2: Ödeme -->
        <div *ngIf="step === 2">
          <div class="row">
            <div class="col-md-12">
              <img src="card.png" alt="Card" class="img-fluid" />
            </div>
          </div>
          <hr />
          <div class="m-3 text-center">
            <h4>
              Toplam Ödenecek Tutar:
              <span class="badge bg-success">{{
                amount | currency : "₺"
              }}</span>
            </h4>
          </div>
          <hr />
          <form [formGroup]="paymentAddForm">
            <div class="mb-3">
              <label for="cardNumber" class="form-label">Kart Numarası</label>
              <input
                type="text"
                class="form-control"
                id="cardNumber"
                formControlName="cardNumber"
              />
            </div>
            <div class="mb-3">
              <label for="cardHolderName" class="form-label"
                >Kart Üzerindeki İsim</label
              >
              <input
                type="text"
                class="form-control"
                id="cardHolderName"
                formControlName="cardHolderName"
              />
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="mb-3">
                  <label for="expiryDate" class="form-label"
                    >Son Kullanma Tarihi</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="expiryDate"
                    formControlName="expiryDate"
                  />
                </div>
              </div>
              <div class="col-md-5">
                <div class="mb-3">
                  <label for="cvv" class="form-label">CVV</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cvv"
                    formControlName="cvv"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Ödeme Başarılı -->
      <div *ngIf="step === 3" class="p-3">
        <div class="bg-success bg-gradient text-center text-white p-3">
          <h3 class="mb-2">Ödeme başarılı</h3>
          <p class="lead">Arabayı belirtilen adresten alabilirsiniz</p>
        </div>
      </div>
      <div
        [ngClass]="{
          'd-flex justify-content-between': step === 2,
          'modal-footer': true
        }"
      >
        <button
          type="button"
          class="btn btn-secondary"
          *ngIf="step === 2"
          (click)="prevStep()"
        >
          Geri
        </button>
        <div>
          <button
            type="button"
            class="btn btn-secondary mx-1"
            data-bs-dismiss="modal"
          >
            Kapat
          </button>
          <button
            *ngIf="step === 1 || step === 2"
            type="button"
            class="btn btn-primary"
            (click)="nextStep()"
          >
            {{ step === 1 ? "Ödemeye Geç" : "Onayla" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="carDetail" class="container mt-5 p-4 bg-light rounded shadow-lg">
  <div class="row">
    <div class="col-lg-5">
      <div id="carouselExampleIndicators" class="carousel slide mb-4">
        <div class="carousel-indicators">
          <button
            *ngFor="let carImage of carDetail.images; let i = index"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            [attr.data-bs-slide-to]="i"
            [class.active]="i === 0"
            [attr.aria-current]="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)"
            class="bg-dark"
          ></button>
        </div>
        <div class="carousel-inner rounded shadow-sm">
          <div
            *ngFor="let carImage of carDetail.images; let i = index"
            class="carousel-item"
            [ngClass]="{ active: i === 0 }"
          >
            <img
              [src]="getCarImage(carImage.imagePath)"
              class="d-block w-100 img-fluid"
              style="height: 325px; object-fit: cover"
              alt="Car Image {{ i }}"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Önceki</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Sonraki</span>
        </button>
      </div>
    </div>
    <div class="col-lg-7 mb-4">
      <div class="card">
        <div class="card-header">
          <h2 class="text-secondary mb-0 card-title">
            {{ carDetail.carName }}
          </h2>
        </div>
        <div class="card-body">
          <p>
            <strong>Marka: </strong>
            <span class="text-muted">{{ carDetail.brandName }}</span>
          </p>
          <p>
            <strong>Renk: </strong>
            <span>{{ carDetail.colorName }}</span>
          </p>
          <p>
            <strong>Günlük Fiyat: </strong>
            <span>{{ carDetail.dailyPrice | currency : "₺" }} </span>
          </p>
          <h5>
            <strong>Model Yılı: </strong>
            <span class="text-muted">{{ carDetail.modelYear }}</span>
          </h5>
          <button
            type="button"
            class="btn btn-primary mt-3 mb-4"
            data-bs-toggle="modal"
            data-bs-target="#rentModal"
          >
            Kirala
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card px-0">
      <div class="card-header">
        <h4 class="mb-0">Tanıtım</h4>
      </div>
      <div class="card-body">
        <p class="text-muted">{{ carDetail.description }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!carDetail" class="text-center my-5">
  <h3 class="text-danger">Araba bulunamadı!</h3>
</div>
