<div *ngIf="carDetail" class="container mt-5 p-4 bg-light rounded shadow-lg">
  <div class="row">
    <div class="col-lg-6">
      <div id="carouselExampleIndicators" class="carousel slide mb-4">
        <div class="carousel-indicators">
          <button
            *ngFor="let carImage of carDetail.images; let i = index"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            [attr.data-bs-slide-to]="i"
            [class.active]="i === 0"
            [attr.aria-current]="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)"
            class="bg-dark"
          ></button>
        </div>
        <div class="carousel-inner rounded shadow-sm">
          <div
            *ngFor="let carImage of carDetail.images; let i = index"
            class="carousel-item"
            [ngClass]="{ active: i === 0 }"
          >
            <img
              [src]="getCarImage(carImage.imagePath)"
              class="d-block w-100 img-fluid"
              style="height: 300px; object-fit: cover"
              alt="Car Image {{ i }}"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Önceki</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Sonraki</span>
        </button>
      </div>
    </div>
    <div class="col-lg-6 mb-4 mt-3">
      <div class="card">
        <div class="card-header">
          <h2 class="text-secondary mb-0 card-title">
            {{ carDetail.carName }}
          </h2>
        </div>
        <div class="card-body">
          <p>
            <strong>Marka: </strong>
            <span class="text-muted">{{ carDetail.brandName }}</span>
          </p>
          <p>
            <strong>Renk: </strong>
            <span>{{ carDetail.colorName }}</span>
          </p>
          <p>
            <strong>Günlük Fiyat: </strong>
            <span>{{ carDetail.dailyPrice }} TL</span>
          </p>
          <h5>
            <strong>Model Yılı: </strong>
            <span class="text-muted">{{ carDetail.modelYear }}</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card px-0">
      <div class="card-header">
        <h4 class="mb-0">Tanıtım</h4>
      </div>
      <div class="card-body">
        <p class="text-muted">{{ carDetail.description }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!carDetail" class="text-center my-5">
  <h3 class="text-danger">Araba bulunamadı!</h3>
</div>
